{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-lg">
        <div class="card-header bg-dark text-white">
          <h3 class="card-title text-center">ログイン</h3>
        </div>
        <div class="card-body">
          <form method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="form-group mb-3">{{ form.as_p }}</div>
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-dark btn-lg">
                ログイン
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
