{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
  <h2>Sign Up</h2>
  <form method="post">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      {{ form.username }}
      {% if form.username.errors %}
        <span class="error">{{ form.username.errors.as_text }}</span>
      {% endif %}
    </p>
    <p>
      <label for="id_password1">Password:</label>
      {{ form.password1 }}
      {% if form.password1.errors %}
        <span class="error">{{ form.password1.errors.as_text }}</span>
      {% endif %}
    </p>
    <p>
      <label for="id_password2">Password confirmation:</label>
      {{ form.password2 }}
      {% if form.password2.errors %}
        <span class="error">{{ form.password2.errors.as_text }}</span>
      {% endif %}
    </p>
    <button type="submit">Sign Up</button>
  </form>
{% endblock %}


